[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi-org-simple"

[packages]
GitPython = "*"
PyYAML = "*"
click = "*"
lazy_object_proxy = "*"
marshmallow = "*"
marshmallow-enum = "*"
munch = "*"
ogr = "*"
packaging = "*"
python-gnupg = "*"
requests = "*"
setuptools = "*"
tabulate = "*"
koji = "*"
cachetools = "*"
aiohttp = "==3.7.3"

[dev-packages]

[requires]
python_version = "3.8"

[thoth]
disable_index_adjustment = false

[thoth.allow_prereleases]
